body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('snowfall.gif');
    background-color: red;
}

.container {
    width: 80%;
    margin: 0 auto;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}